.about-us {
  width: 100%;
  max-width: 500px;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin: 0 auto;
  box-sizing: border-box;
}

.about-us__head {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 24px;
  text-align: center;
}

.about-us__wrapper {
  padding-right: 56px;
  display: flex;
  justify-content: center;
}

.about-us__image {
  margin-right: 32px;
}

@media (min-width: $tablet) {
  .about-us {
    max-width: 900px;
    padding-left: 48px;
    padding-right: 48px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .about-us__head {
    margin-bottom: 0;
    font-size: 28px;
    text-align: start;
  }

  .about-us__image {
    position: absolute;
    top: 0;
    right: 0;
  }

  .about-us__wrapper {
    order: 1;
  }

  .about-us__wrapper {
    justify-content: flex-start;
  }
}

@media (min-width: $desktop) {
  .about-us {
    max-width: 1220px;
    padding: 0;
    margin-bottom: 200px;
  }

  .about-us__head {
    margin-bottom: 20px;
    font-size: 40px;
  }
}
