.advantages-care__quote {
  max-width: 500px;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin: 0 auto;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 13px;
  font-style: italic;
  color: #2d2829;
  text-align: center;
  box-sizing: border-box;
}

.advantages-care__signature {
  display: block;
  margin: 0 auto;
}