.advantages {
  width: 100%;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.advantages__head {
  padding: 0;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin: 0;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 24px;
  color: #2d2829;
  text-align: center;
}

.advantages__info {
  padding: 0;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin: 0;
  margin-bottom: 15px;
  font-family: "IntroScriptR", serif;
  font-size: 22px;
  color: #32313d;
  text-align: center;
}

@media (min-width: $tablet) {
  .advantages {
    margin-bottom: 50px;
  }

  .advantages__head {
    padding: 0;
    font-size: 28px;
  }

  .advantages__info {
    font-size: 26px;
  }
}
