.button {
  width: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 52px;
  padding-right: 52px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  background-color: #f50049;
  font-family: "Circe Regular", serif;
  font-size: 13px;
  line-height: 26px;
  text-transform: uppercase;
  color: #fefefe;
}

@media (min-width: $tablet) {
  .button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 10px;
  }
}
