.cake-types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cake-types__item {
  width: 280px;
  min-height: 120px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #ffffff;
  box-sizing: border-box;
  
  &--classic {
    background-image: url("../img/classic--mobile.png");
  }

  &--muss {
    background-image: url("../img/muss--mobile.png");
  }

  &--wedding {
    background-image: url("../img/wedding--mobile.png");
  }

  &--for-men {
    background-image: url("../img/for-men--mobile.png");
  }

  &--for-women {
    background-image: url("../img/for-women--mobile.png");
  }

  &--for-children {
    background-image: url("../img/for-children--mobile.png");
  }
}

.cake-types__head {
  padding: 0;
  margin: 0;
  font-family: "Circe Regular", serif;
  font-size: 14px;
}

.cake-types__count {
  padding: 0;
  margin: 0;
  font-family: "Circe Regular", serif;
  font-size: 12px;
}