.how-to-order {
  max-width: 500px;
  padding-left: 6.5%;
  padding-right: 6.5%;
  padding-top: 35px;
  margin: 0 auto;
  box-sizing: border-box;
}

.how-to-order__head {
  padding: 0;
  margin: 0;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: $tablet) {
  .how-to-order {
    max-width: 900px;
    padding-top: 50px;
    padding-left: 43%;
  }

  .how-to-order__head {
    font-size: 28px;
    text-align: start;
  }
}
