.intro {
  width: 100%;
  max-width: 500px;
  height: auto;
  padding-top: 133px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-image: url("../img/cake-top--mobile.png");
  background-repeat: no-repeat;
  background-position: 50% -200px;
}

.intro__head {
  width: 100%;
  padding: 0;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 40px;
  line-height: 36px;
  letter-spacing: 0.075em;
  color: #2d2829;
  text-align: center;
}

.intro__handmade {
  width: 100%;
  padding: 0;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-family: "IntroScriptR", serif;
  font-size: 22px;
  color: #32313d;
  text-align: center;
}

.intro__advantages {
  width: 100%;
  padding: 0;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin: 0;
  margin-bottom: 29px;
  box-sizing: border-box;
  list-style: none;
}

.intro__item {
  width: auto;
  min-height: 33px;
  margin-bottom: 14px;
  display: flex;
  justify-content: center;
}

.intro__icon {
  margin-right: 10px;
}

.intro__info {
  width: 200px;
  padding: 0;
  margin: 0;
  font-family: "Circe Regular", serif;
  font-size: 14px;
  color: #000000;
}

.intro__button {
  margin: 0 auto;
}