.reviews {
  width: 100%;
  max-width: 500px;
  padding-right: 9.5%;
  padding-left: 9.5%;
  margin: 0 auto;
  list-style: none;
  box-sizing: border-box;
}

.reviews__item {
  width: 100%;
}

.reviews__photo {
  display: block;
  margin: 0 auto;
}

.reviews__name {
  padding: 0;
  margin: 0;
  font-family: "Circe Bold", serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #2d2829;
  text-align: center;
}

.reviews__info {
  width: 85px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
  font-family: "Circe Regular", serif;
  font-size: 12px;
  color: #2d2829;
}

.reviews__content {
  padding: 0;
  margin: 0;
  font-family: "Circe Regular", serif;
  font-size: 12px;
  color: #2d2829;
  text-align: center;
}

.reviews__link {
  font-style: italic;
  color: #f50049;
}