@font-face {
  font-family: "Circe Regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/circe-regular.woff2") format("woff2"); }

@font-face {
  font-family: "Circe Bold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/circe-regular.woff2") format("woff2"); }

@font-face {
  font-family: "PlayfairDisplay Bold";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"); }

@font-face {
  font-family: "PlayfairDisplay Bold Italic";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"); }

@font-face {
  font-family: "IntroScriptR";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Intro-Script-R-H2-Base.ttf.woff") format("woff"); }

body {
  margin: 0;
  padding: 0; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container-header {
  width: 100%;
  min-width: 320px;
  background-color: #ffffff; }

.main-container__top {
  width: 100%;
  min-width: 320px;
  background-color: #fbebea; }

.main-container__middle {
  width: 100%;
  min-width: 320px;
  background-color: #e3353d; }

.main-container__bottom {
  width: 100%;
  min-width: 320px;
  background-color: #fbebea; }

.container-footer {
  width: 100%;
  min-width: 320px;
  background-color: #898989; }

.footer {
  max-width: 500px;
  padding-top: 44px;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin: 0 auto;
  box-sizing: border-box; }

.footer__logo {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 24px;
  color: #f7f7f7; }

.footer__navigation {
  padding: 0;
  margin: 0;
  list-style: none; }

.footer__item {
  min-height: 30px; }

.footer__link {
  color: #f7f7f7;
  text-decoration: none; }

.footer__copiright {
  width: 100%;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  border-top: 1px solid #959595;
  font-family: "Circe Regular", serif;
  font-size: 12px;
  color: #ffffff;
  opacity: .5; }

.header {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 15px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  box-sizing: border-box; }

.header__wrapper {
  width: 100%;
  padding-left: 6.5%;
  padding-right: 6.5%;
  padding-bottom: 10px;
  display: flex; }

.header__burger {
  width: 20px;
  height: 20px;
  padding: 0;
  margin-left: auto;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  .header__burger::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../img/icon-menu-open.svg");
    background-repeat: no-repeat;
    top: 4px;
    left: 0; }

.header__no-js .header__burger {
  display: none; }

.header__no-js .header__logo {
  margin: 0 auto; }

.header__no-js .main-navigation {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column; }

.header__logo {
  margin: 0;
  padding: 0;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em; }

.header__phone {
  display: none; }

@media (min-width: 768px) {
  .header {
    max-width: 900px;
    padding-right: 48px;
    padding-bottom: 8px; }
  .header__wrapper {
    width: 23%;
    padding-left: 6.7%;
    padding-right: 0;
    box-sizing: border-box; }
  .header__logo {
    font-size: 20px; }
  .header__burger {
    width: 27px;
    height: 27px; }
    .header__burger::before {
      background-size: 100%; }
  .header__phone {
    margin-left: auto;
    display: block;
    font-family: "Circe Bold", serif;
    font-weight: 700;
    font-size: 15px; } }

.main-navigation {
  position: absolute;
  width: 100%;
  top: 47px; }

.main-navigation__open {
  display: flex;
  flex-direction: column; }

.main-navigation__close {
  display: none; }

.main-navigation__list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none; }

.main-navigation__item {
  width: 100%;
  padding-left: 6.5%;
  padding-right: 6.5%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-bottom: 1px solid #dedede;
  background-color: #e7e7e7;
  box-sizing: border-box; }

.main-navigation__link {
  width: auto;
  font-family: "Circe Regular", serif;
  font-size: 12px;
  color: #383838;
  text-decoration: none;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .main-navigation {
    width: 42%;
    top: 60px; } }

.intro {
  width: 100%;
  max-width: 500px;
  height: auto;
  padding-top: 133px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-image: url("../img/cake-top--mobile.png");
  background-repeat: no-repeat;
  background-position: 50% -200px; }

.intro__head {
  width: 100%;
  padding: 0;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 40px;
  line-height: 36px;
  letter-spacing: 0.075em;
  color: #2d2829;
  text-align: center; }

.intro__handmade {
  width: 100%;
  padding: 0;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-family: "IntroScriptR", serif;
  font-size: 22px;
  color: #32313d;
  text-align: center; }

.intro__advantages {
  width: 100%;
  padding: 0;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin: 0;
  margin-bottom: 29px;
  box-sizing: border-box;
  list-style: none; }

.intro__item {
  width: auto;
  min-height: 33px;
  margin-bottom: 14px;
  display: flex;
  justify-content: center; }

.intro__icon {
  margin-right: 10px; }
  .intro__icon--delivery {
    width: 33px;
    height: 32px; }

.intro__info {
  width: 200px;
  padding: 0;
  margin: 0;
  font-family: "Circe Regular", serif;
  font-size: 14px;
  color: #000000; }

.intro__button {
  margin: 0 auto; }

@media (min-width: 768px) {
  .intro {
    max-width: 900px;
    padding-left: 48px;
    padding-top: 100px;
    box-sizing: border-box;
    background-image: url("../img/cake-top--tablet.png"), url("../img/cherry-top--tablet.png"), url("../img/rasp-top--tablet.png"), url("../img/cherry-top2--tablet.png");
    background-position: 340px 0, 330px 20px, 300px 225px, 280px 390px; }
  .intro__head {
    padding-left: 0;
    padding-right: 6.3%;
    font-size: 60px;
    line-height: 55px;
    text-align: start; }
  .intro__handmade {
    padding-left: 0;
    padding-right: 6.3%;
    font-size: 36px;
    text-align: start; }
  .intro__button {
    margin: 0;
    margin-bottom: 147px;
    margin-right: auto; }
  .intro__advantages {
    padding: 0;
    margin: 0;
    display: flex;
    order: 1; }
  .intro__info {
    width: auto;
    margin-right: 69px;
    font-size: 14px;
    align-self: flex-end; }
  .intro__icon--delivery {
    width: 55px;
    height: 54px; } }

.button {
  width: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 52px;
  padding-right: 52px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  background-color: #f50049;
  font-family: "Circe Regular", serif;
  font-size: 13px;
  line-height: 26px;
  text-transform: uppercase;
  color: #fefefe; }

.cakes {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 40px; }

.cakes__head {
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 24px;
  line-height: 66px;
  letter-spacing: 0.01em;
  color: #2d2829;
  text-align: center; }

@media (min-width: 768px) {
  .cakes {
    max-width: 900px;
    padding-left: 20px;
    padding-right: 20px; }
  .cakes__head {
    font-size: 28px;
    text-align: start; } }

.cake-types {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column; }

.cake-types__item {
  width: 280px;
  min-height: 120px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #ffffff;
  box-sizing: border-box;
  background-repeat: no-repeat; }
  .cake-types__item--classic {
    background-image: url("../img/classic--mobile.png"); }
  .cake-types__item--muss {
    background-image: url("../img/muss--mobile.png"); }
  .cake-types__item--wedding {
    background-image: url("../img/wedding--mobile.png"); }
  .cake-types__item--for-men {
    background-image: url("../img/for-men--mobile.png"); }
  .cake-types__item--for-women {
    background-image: url("../img/for-women--mobile.png"); }
  .cake-types__item--for-children {
    order: 1;
    background-color: #f4f2f3;
    background-image: url("../img/for-children--mobile.png"); }

.cake-types__head {
  padding: 0;
  margin: 0;
  font-family: "Circe Regular", serif;
  font-size: 14px; }

.cake-types__count {
  padding: 0;
  margin: 0;
  font-family: "Circe Regular", serif;
  font-size: 12px; }

@media (min-width: 768px) {
  .cake-types {
    display: block; }
    .cake-types::after {
      content: "";
      display: table;
      clear: both; }
  .cake-types__item {
    width: 100%;
    padding: 20px;
    margin: 0;
    background-position: 50% 50%; }
    .cake-types__item--classic {
      width: 57%;
      min-height: 370px;
      margin-right: 21px;
      margin-bottom: 20px;
      float: left;
      background-image: url("../img/classic--tablet.png"); }
    .cake-types__item--muss {
      width: 39.7%;
      min-height: 167px;
      margin-bottom: 35px;
      float: right;
      background-image: url("../img/muss--tablet.png"); }
    .cake-types__item--wedding {
      width: 39.7%;
      min-height: 167px;
      margin-bottom: 20px;
      float: right;
      background-image: url("../img/wedding--tablet.png"); }
    .cake-types__item--for-men {
      display: inline-block;
      width: 39.7%;
      margin-right: 21px;
      margin-bottom: 35px;
      min-height: 167px;
      float: left;
      background-image: url("../img/for-men--tablet.png"); }
    .cake-types__item--for-women {
      display: inline-block;
      width: 39.7%;
      min-height: 167px;
      float: left;
      background-image: url("../img/for-women--tablet.png"); }
    .cake-types__item--for-children {
      display: inline-block;
      width: 57%;
      min-height: 370px;
      margin-bottom: 20px;
      float: right;
      background-image: url("../img/for-children--tablet.png"); } }

.individual {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 40px; }

.individual__head {
  padding: 0;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin: 0;
  margin-bottom: 10px;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 24px;
  text-align: center; }

.individual__info {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-family: "IntroScriptR", serif;
  font-size: 22px;
  color: #32313d;
  text-align: center; }

.DIY-cake {
  padding: 0;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin: 0;
  list-style: none; }

.filling {
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
  margin-bottom: 10px;
  padding-bottom: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #ffffff; }

.filling__wrapper {
  display: flex;
  margin-bottom: 20px; }

.filling__count {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 30px;
  letter-spacing: 0.01em;
  color: #f50049; }

.filling__head {
  padding: 0;
  padding-top: 15px;
  margin: 0;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #f50049; }

.filling__image {
  margin: 0 auto;
  margin-bottom: 30px; }

.filling__header {
  padding: 0;
  margin: 0;
  font-family: "Circe Bold", serif;
  font-size: 16px;
  font-weight: 700; }

.filling__info {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Circe Regular", serif;
  font-size: 14px; }

.filling__price {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 18px;
  text-align: center; }

.filling__button {
  margin: 0 auto; }

.size {
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 25px;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff; }

.size__options {
  padding: 0;
  margin: 0;
  list-style: none; }

.size__controls {
  display: none;
  position: absolute;
  top: 185px;
  left: 45%;
  transform: translate(0, 0); }

.size__indicator {
  display: block;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 6px;
  height: 6px;
  background-color: #dddddd;
  border-radius: 50%;
  margin-right: 5px; }

.size__label input:checked ~ .size__indicator::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #f50049;
  border-radius: 50%;
  display: block; }

.size__item {
  display: none; }

.size__item--current {
  display: flex;
  flex-direction: column; }

.size__wrapper {
  display: flex;
  margin-bottom: 20px; }

.size__count {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 30px;
  letter-spacing: 0.01em;
  color: #f50049; }

.size__head {
  padding: 0;
  padding-top: 15px;
  margin: 0;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #f50049; }

.size__weight {
  width: 110px;
  height: 110px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
  background-image: url("../img/round--mobile.svg");
  background-size: 100%; }

.size__image {
  display: block;
  margin: 0 auto; }

.size__kg {
  padding: 0;
  margin: 0 auto;
  font-family: "Circe Regular", serif;
  font-size: 16px;
  text-align: center; }

.size__info {
  margin-bottom: 50px;
  font-family: "Circe Regular", serif;
  font-size: 14px;
  text-align: center; }

.size__button {
  margin: 0 auto; }

.decor {
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #ffffff; }

.decor__wrapper {
  display: flex;
  margin-bottom: 20px; }

.decor__count {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 30px;
  letter-spacing: 0.01em;
  color: #f50049; }

.decor__head {
  padding: 0;
  padding-top: 15px;
  margin: 0;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #f50049; }

.decor__image {
  display: block;
  margin: 0 auto; }

.decor__info {
  margin: 0;
  padding: 0;
  font-family: "Circe Regular", serif;
  font-size: 14px;
  text-align: center; }

.decor__price {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 18px;
  text-align: center; }

.decor__button {
  margin: 0 auto; }

.order {
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #ffffff; }

.order__head {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 22px; }

.order__list {
  padding: 0;
  padding-bottom: 30px;
  margin: 0; }

.order__item {
  list-style: none; }

.order__item--head {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-family: "IntroScriptR", serif;
  font-size: 20px;
  color: #f50049;
  text-align: center; }

.order__item--info {
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  border: 1px solid #dddddd;
  border-radius: 15px;
  font-family: "Circe Regular", serif;
  font-size: 14px;
  color: #2d2829;
  text-align: center; }

.order__button {
  margin: 0 auto; }

.review {
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
  margin-bottom: 60px;
  box-sizing: border-box; }

.review__head {
  padding: 0;
  margin: 0;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 24px;
  letter-spacing: 0.025em;
  text-align: center; }

.reviews {
  width: 100%;
  max-width: 500px;
  padding-right: 9.5%;
  padding-left: 9.5%;
  margin: 0 auto;
  list-style: none;
  box-sizing: border-box; }

.reviews__item {
  width: 100%; }

.reviews__photo {
  display: block;
  margin: 0 auto; }

.reviews__name {
  padding: 0;
  margin: 0;
  font-family: "Circe Bold", serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #2d2829;
  text-align: center; }

.reviews__info {
  width: 85px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
  font-family: "Circe Regular", serif;
  font-size: 12px;
  color: #2d2829; }

.reviews__content {
  padding: 0;
  margin: 0;
  font-family: "Circe Regular", serif;
  font-size: 12px;
  color: #2d2829;
  text-align: center; }

.reviews__link {
  font-style: italic;
  color: #f50049; }

.about-us {
  width: 100%;
  max-width: 500px;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin: 0 auto;
  box-sizing: border-box; }

.about-us__head {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 24px;
  text-align: center; }

.about-us__wrapper {
  padding-right: 56px;
  display: flex;
  justify-content: center; }

.about-us__image {
  margin-right: 32px; }

.social {
  padding: 0;
  margin: 0;
  list-style: none; }

.social__item {
  width: 35px;
  height: 36px;
  margin-bottom: 15px;
  position: relative;
  border-radius: 50%;
  background-color: #ffffff; }
  .social__item:last-child {
    margin-bottom: 0; }

.social__link {
  width: 22px;
  height: 22px;
  display: block; }
  .social__link--instagram {
    position: absolute;
    top: 7px;
    left: 7px;
    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat; }
  .social__link--vk {
    position: absolute;
    top: 8px;
    left: 6px;
    background-image: url("../img/vk-logo.svg");
    background-repeat: no-repeat; }
  .social__link--twitter {
    position: absolute;
    top: 8px;
    left: 6px;
    background-image: url("../img/icon-twitter.svg");
    background-repeat: no-repeat; }

.about-info {
  margin-bottom: 35px; }

.about-info__head {
  padding: 0;
  margin: 0;
  font-family: "IntroScriptR", serif;
  font-size: 22px;
  color: #32313d; }

.about-info__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.about-info__item {
  margin-bottom: 10px; }
  .about-info__item:last-child {
    margin-bottom: 0; }

.about-info__header {
  padding: 0;
  margin: 0;
  font-family: "Circe Bold", serif;
  font-size: 14px;
  font-weight: 700; }

.about-info__content {
  padding: 0;
  margin: 0;
  font-family: "Circe Regular", serif;
  font-size: 14px; }

.advantages-care__quote {
  max-width: 500px;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin: 0 auto;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 13px;
  font-style: italic;
  color: #2d2829;
  text-align: center;
  box-sizing: border-box; }

.advantages-care__signature {
  display: block;
  margin: 0 auto; }

.advantages {
  width: 100%;
  margin-bottom: 30px;
  box-sizing: border-box; }

.advantages__head {
  padding: 0;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin: 0;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 24px;
  color: #2d2829;
  text-align: center; }

.advantages__info {
  padding: 0;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin: 0;
  margin-bottom: 15px;
  font-family: "IntroScriptR", serif;
  font-size: 22px;
  color: #32313d;
  text-align: center; }

.advantages-list {
  padding: 0;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin: 0;
  list-style: none;
  background-color: #ffffff; }

.advantages-list__item {
  padding-top: 11px;
  min-height: 120px;
  box-sizing: border-box; }

.advantages-list__icon {
  margin: 0 auto;
  margin-bottom: 5px;
  display: block; }

.advantages-list__head {
  padding: 0;
  margin: 0;
  font-family: "Circe Bold", serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center; }

.advantages-list__info {
  padding: 0;
  margin: 0;
  font-family: "Circe Regular", serif;
  font-size: 14px;
  text-align: center; }

.care {
  max-width: 500px;
  padding-left: 6.5%;
  padding-right: 6.5%;
  padding-bottom: 175px;
  margin: 0 auto;
  background-image: url("../img/cake-middle--mobile.png"), url("../img/dish--mobile-tablet.png"), url("../img/sparkles--mobile.png");
  background-position: 50% 170px, 49.5% 154px, 50% 120px;
  background-repeat: no-repeat;
  box-sizing: border-box; }

.care__head {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 24px; }

.care__info {
  padding: 0;
  margin: 0;
  font-family: "IntroScriptR", serif;
  font-size: 22px;
  color: #32313d; }

.care__content {
  padding: 0;
  margin: 0;
  font-family: "Circe Regular", serif;
  font-size: 14px; }

.how-to-order {
  max-width: 500px;
  padding-left: 6.5%;
  padding-right: 6.5%;
  padding-top: 35px;
  margin: 0 auto;
  box-sizing: border-box; }

.how-to-order__head {
  padding: 0;
  margin: 0;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 24px;
  color: #ffffff;
  text-align: center; }

.order-options {
  padding: 0;
  padding-bottom: 147px;
  margin: 0;
  list-style: none;
  background-image: url("../img/order--mobile.png");
  background-position: 50% 100%;
  background-repeat: no-repeat; }

.order-options__item {
  padding-top: 20px;
  display: flex; }

.order-options__count {
  padding: 0;
  margin: 0;
  margin-right: 15px;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 35px;
  line-height: 10px;
  letter-spacing: 0.01em;
  color: #ffffff; }

.order-options__head {
  padding: 0;
  margin: 0;
  font-family: "Circe Bold", serif;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff; }

.order-options__content {
  padding: 0;
  margin: 0;
  font-family: "Circe Regular", serif;
  font-size: 14px;
  color: #ffffff; }

.contacts {
  max-width: 500px;
  padding-top: 35px;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin: 0 auto;
  box-sizing: border-box; }

.contacts__head {
  padding: 0;
  margin: 0;
  font-family: "PlayfairDisplay Bold", serif;
  font-size: 24px;
  text-align: center; }

.contacts__info {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-family: "IntroScriptR", serif;
  font-size: 22px;
  color: #32313d; }

.contacts__phone {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Circe Regular", serif;
  font-size: 14px; }
  .contacts__phone a {
    text-decoration: none;
    color: #000000; }

.contacts__email {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Circe Regular", serif;
  font-size: 14px; }
  .contacts__email a {
    text-decoration: none;
    color: #000000; }

.write-us {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px; }

.write-us__head {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Circe Regular", serif;
  font-size: 14px; }

.write-us__name,
.write-us__email {
  min-height: 50px;
  padding: 15px 10px;
  margin: 0;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: "Circe Regular", serif;
  font-size: 14px; }
  .write-us__name::placeholder,
  .write-us__email::placeholder {
    opacity: .2; }

.write-us__more {
  min-height: 120px;
  max-height: 300px;
  padding: 15px 10px;
  margin: 0;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: "Circe Regular", serif;
  font-size: 14px;
  resize: vertical; }
  .write-us__more::placeholder {
    opacity: .2; }

.write-us__button {
  margin: 0 auto; }

.contacts-social {
  display: flex;
  flex-direction: column; }

.contacts-social__head {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Circe Regular", serif;
  font-size: 14px; }

.contacts-social__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none; }

.contacts-social__item {
  width: 62px;
  height: 63px;
  margin-bottom: 15px;
  border-radius: 50%;
  background-color: #ffffff; }
  .contacts-social__item:last-child {
    margin-bottom: 0; }

.contacts-social__link {
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat; }
  .contacts-social__link--instagram {
    background-image: url("../img/icon-insta.svg");
    background-position: 50% 50%;
    background-size: 60%; }
  .contacts-social__link--vk {
    background-image: url("../img/vk-logo.svg");
    background-position: 45% 50%;
    background-size: 60%; }
  .contacts-social__link--twitter {
    background-image: url("../img/icon-twitter.svg");
    background-position: 50% 50%;
    background-size: 60%; }

.footer-social {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  list-style: none; }

.footer-social__item {
  width: 40px;
  height: 35px;
  margin-right: 10px; }

.footer-social__link {
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  opacity: .5; }
  .footer-social__link--instagram {
    background-image: url("../img/icon-insta.svg");
    background-position: 50% 50%;
    background-size: 60%; }
  .footer-social__link--vk {
    background-image: url("../img/vk-logo.svg");
    background-position: 45% 50%;
    background-size: 60%; }
  .footer-social__link--twitter {
    background-image: url("../img/icon-twitter.svg");
    background-position: 50% 50%;
    background-size: 60%; }
